In [1]:
# Importar módulos
import numpy as np
import pandas as pd

In [2]:
# Cargamos el archivo .csv y que nos muestre las primeras líneas
df_3exams = pd.read_csv("3exams.csv")
df_3exams.head()

       Name   Surname   Exam_1   Exam_2   Exam_3
0   Ricarda   Keating  71.3355  37.7643  66.1680
1  Caroline     Wyman  92.8046  60.4482  58.9383
2    Pamela  Florence  47.4557  55.5342  46.5950
3     Celsa   Mccurry  78.5994  46.1327  83.7249
4    Minnie    Mcghee  67.7105  11.0892  61.4708

In [3]:
# Nota media de cada examen
ave = df_3exams.mean()
print(ave)

 Exam_1    53.192444
Exam_2     50.663881
Exam_3     52.262675
dtype: float64

C:\Users\Usuario\AppData\Local\Temp/ipykernel_1120/2818175205.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ave = df_3exams.mean()

In [4]:
# Quién ha sacado la nota máxima y quién la mínima
maxx = df_3exams.max()
print("Highest\n-----------\n",maxx)
print(" ")
minn = df_3exams.min()
print("Lowest\n-----------\n",minn)

Highest
-----------
 Name        Veronika
 Surname       Wyman
 Exam_1      92.8046
Exam_2       98.6381
Exam_3       99.2196
dtype: object

Lowest
-----------
 Name        Angelika
 Surname      Bettis
 Exam_1       5.6459
Exam_2        3.1602
Exam_3        5.7589
dtype: object